@layer paper-shaders {
  :where([data-paper-shader]) {
    isolation: isolate;
    position: relative;
    & canvas {
      contain: strict;
      position: absolute;
      inset: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      corner-shape: inherit;
    }
  }
}
